In [1]:
import pandas as pd
df = pd.read_csv("final_부동산.csv", encoding="utf-8")  # 또는 utf-8-sig
df

,기준년월,가명 식별자,외감구분,설립일자,종업원수,주소지시군구,상장일자,상장폐지일자,유동자산,비유동자산,...,기준년월 시점 관련인을 제외한 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 포함),기준년월 시점 공공정보 (한국신용정보원) 유지건수(해제 제외),기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수,기준년월 시점 공공정보 (한국신용정보원) 발생건수(해제 제외),기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수.1,기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 발생일자로 부터 경과일수(해제 포함),기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 해제일자로 부터 경과일수,10구간으로 구분(1~10. 1등급일수록 우량),"기준일로부터 향후 1년내 부도, 기업회생, 90일이상 금융연체, 대지급 등 발생여부(신용정보원 기준). 1: 향후1년내 부도발생, 0: 향후1년내 부도미발생",업종(대분류)
0,20210801,41294,1,20020830,63,11680.0,NaN,NaN,4406362501,2643245525,...,0,0,0,0,0,999999999,999999999,4,0,부동산업
1,20210801,100835,1,19850611,83,26170.0,NaN,NaN,1164149495,1211537593,...,0,0,0,0,0,999999999,999999999,5,0,부동산업
2,20210801,26963,1,20070115,10,11650.0,NaN,NaN,418344116,1414447178,...,0,0,0,0,0,999999999,999999999,2,0,부동산업
3,20210801,38271,1,19990201,14,26350.0,NaN,NaN,131137894,1409408057,...,0,0,0,0,0,999999999,999999999,3,0,부동산업
4,20210801,41314,1,19880812,47,28260.0,NaN,NaN,130254947,1164059426,...,0,0,0,0,0,999999999,999999999,4,0,부동산업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91819,20220701,75551,2,20190619,4,41570.0,NaN,NaN,63969,0,...,0,0,0,0,0,999999999,999999999,3,0,부동산업
91820,20220701,94144,2,20170806,23,28185.0,NaN,NaN,50769,12741,...,0,0,0,0,0,999999999,999999999,3,0,부동산업
91821,20220701,16679,2,20090928,1,41500.0,NaN,NaN,14372,45413,...,0,0,0,0,0,331,182,2,0,부동산업
91822,20220701,62665,2,20180225,1,41450.0,NaN,NaN,52339,2425,...,0,0,0,0,0,999999999,999999999,6,0,부동산업
91823,20220701,33918,2,20100304,1,11140.0,NaN,NaN,20508,21928,...,0,0,0,0,0,999999999,999999999,2,0,부동산업

In [6]:
df.to_excel("final_부동산.xlsx")