In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
# 한글 폰트 설정
plt.rcParams['font.family'] = 'Malgun Gothic'  # Windows
plt.rcParams['axes.unicode_minus'] = False
df2 = pd.read_excel('final_부동산.xlsx')

In [21]:
import numpy as np

# 1) 숫자형 컬럼만 골라내기
num_cols = df2.select_dtypes(include=[np.number]).columns

# 2) 그 중 하나라도 음수인 컬럼 찾기
neg_cols = [col for col in num_cols if (df2[col] < 0).any()]

print("음수값이 있는 컬럼:", neg_cols)

# 3) 해당 컬럼들만 추출해서 확인하기 (예: 처음 5행)
df2[neg_cols].head()

음수값이 있는 컬럼: ['비유동자산', '유형자산', '매출채권', '매출채권(전기)', '매출채권처분손실(당기)', '자산총계', '유동부채', '차입금', '매입채무', '비유동부채', '부채총계', '자기자본(납입자본금)', '자본잉여금', '납입자본', '이익잉여금', '자본조정', '기타포괄손익누계액', '유보금', '자본총계', '전기자본총계', '매출액', '전기매출액', '매출원가', '매출총이익', '판매비와관리비', '법인세비용차감전 순이익', '전기법인세차감전순이익', '법인세', '계속사업이익', '중단산업손익', '영업손익', '전기영업이익', '영업외수익', '영업외비용', '법인세차감전순이익', '당기순이익', '당기순이익(전기)', '현금흐름', '영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름', '부채상환계수', '영업이익이자보상배율', '이자보상배율', '적립금비율', 'EBIT', 'EBITDA', '청산가치율', '순운전자본', '순차입금', '재무비율_총자산증가율', '재무비율_부채비율', '재무비율_자기자본비율', '재무비율_유동비율', '재무비율_차입금의존도', '재무비율_매출액증가율', '재무비율_영업이익율', '재무비율_당기순이익율', '재무비율_매출원가율', '재무비율_판관비율', '재무비율_자기자본이익률(ROE)', '재무비율_매출채권회전율', '재무비율_재고자산회전율', '재무비율_매입채무회전율', '재무비율_총자산회전율', '재무비율_총자산순이익률', '재무비율_유형자산증가율', '단기차입금의존도', '당좌비율', '순차입금비율', '순운전자본회전율', '총자본회전율', '자기자본순이익율', '매출총이익율', 'EBITDA마진율', '영업이익증가율', '당기순이익증가율', 'EBITDA증가율', 'OCF/매출액비용', '차입금/EBITDA', 'EBITDA/금융비용', '소유건축물실거래가합계']

,비유동자산,유형자산,매출채권,매출채권(전기),매출채권처분손실(당기),자산총계,유동부채,차입금,매입채무,비유동부채,...,자기자본순이익율,매출총이익율,EBITDA마진율,영업이익증가율,당기순이익증가율,EBITDA증가율,OCF/매출액비용,차입금/EBITDA,EBITDA/금융비용,소유건축물실거래가합계
0,2643245525,2126501078,515949640,909118333,0,7049608026,1778620149,998606328,0,61218398,...,36.46,41.91,37.39,287.83,39.51,139.55,13.27,0.00,30.91,39792889
1,1211537593,1169589394,103544408,78096218,0,2375687088,827091918,1409106858,84639004,804813397,...,-6.61,66.66,23.14,-397.39,-17.75,-856.00,-5.82,0.00,3.37,3266777
2,1414447178,350442,69602439,59723421,0,1832791294,147230446,79502406,11197701,5149248,...,3.54,92.92,61.66,521.34,16.57,-59.07,-31.07,1.29,96.00,-99999999
3,1409408057,5844844,4182670,3025989,0,1540545951,218166224,155431470,0,13102345,...,-7.01,-10.06,-33.49,-216.57,-11.57,0.00,-184.96,0.00,-24.82,-99999999
4,1164059426,1086349647,15268234,13615352,0,1294314373,395394266,57850696,2489634,333155481,...,-7.31,26.11,-36.56,-307.63,420.22,3.00,39.68,0.00,-0.72,12349810

In [22]:
import numpy as np

# 1) 숫자형 컬럼만 선택
num_df = df2.select_dtypes(include=[np.number])

# 2) 컬럼별 음수값 개수 계산
neg_counts = (num_df < 0).sum()

# 3) 음수가 한 개라도 있는 컬럼만 필터링
neg_counts = neg_counts[neg_counts > 0]

print("컬럼별 음수값 개수:")
print(neg_counts)

컬럼별 음수값 개수:
비유동자산             112
유형자산               11
매출채권                5
매출채권(전기)           11
매출채권처분손실(당기)        1
                ...
EBITDA증가율       32348
OCF/매출액비용       26788
차입금/EBITDA      13243
EBITDA/금융비용     33668
소유건축물실거래가합계     52585
Length: 82, dtype: int64

In [23]:
import pandas as pd
import numpy as np

# (이미 계산된 neg_counts가 있다고 가정)

# 1) 출력할 최대 행 수를 None으로 설정 (제한 없음)
pd.set_option('display.max_rows', None)

# 2) neg_counts 출력
print(neg_counts)

# --- 이후 원래대로 되돌리려면 ---
# pd.reset_option('display.max_rows')

비유동자산                  112
유형자산                    11
매출채권                     5
매출채권(전기)                11
매출채권처분손실(당기)             1
자산총계                    18
유동부채                   135
차입금                     23
매입채무                     5
비유동부채                 8012
부채총계                   138
자기자본(납입자본금)              1
자본잉여금                  202
납입자본                    43
이익잉여금                31174
자본조정                 14585
기타포괄손익누계액             3867
유보금                  28305
자본총계                 18846
전기자본총계               16104
매출액                    713
전기매출액                  115
매출원가                   640
매출총이익                 5524
판매비와관리비                115
법인세비용차감전 순이익         43443
전기법인세차감전순이익          32547
법인세                   4750
계속사업이익               34777
중단산업손익                 257
영업손익                 43443
전기영업이익               32547
영업외수익                    1
영업외비용                    6
법인세차감전순이익            47453
당기순이익                49248
당기순이익(전기)            34819
현금흐름                 34010
영업활동현금흐름             28382
투자활동현금흐름             40971
재무활동현금흐름             34167
부채상환계수                3706
영업이익이자보상배율            5096
이자보상배율                5096
적립금비율                26065
EBIT                 56426
EBITDA               36989
청산가치율                   18
순운전자본                31202
순차입금                 15807
재무비율_총자산증가율          27747
재무비율_부채비율            18958
재무비율_자기자본비율          18836
재무비율_유동비율              135
재무비율_차입금의존도           3081
재무비율_매출액증가율          41989
재무비율_영업이익율           38070
재무비율_당기순이익율          32693
재무비율_매출원가율             199
재무비율_판관비율              794
재무비율_자기자본이익률(ROE)    38800
재무비율_매출채권회전율           700
재무비율_재고자산회전율           505
재무비율_매입채무회전율           247
재무비율_총자산회전율            652
재무비율_총자산순이익률         34758
재무비율_유형자산증가율         40862
단기차입금의존도                10
당좌비율                   135
순차입금비율               32308
순운전자본회전율             28875
총자본회전율               16468
자기자본순이익율             40097
매출총이익율                4661
EBITDA마진율            26107
영업이익증가율              55963
당기순이익증가율             49551
EBITDA증가율            32348
OCF/매출액비용            26788
차입금/EBITDA           13243
EBITDA/금융비용          33668
소유건축물실거래가합계          52585
dtype: int64

In [2]:
# 결측치 수 계산
null_counts = df2.isnull().sum()

# 결측치가 있는 컬럼만 필터링
null_counts = null_counts[null_counts > 0]

# 비율 계산 후 DataFrame으로 정리
null_df = pd.DataFrame({
    '컬럼명': null_counts.index,
    '결측치 수': null_counts.values,
    '결측치 비율 (%)': (null_counts.values / len(df2) * 100).round(2)
})

# 보기 좋게 정렬
null_df = null_df.sort_values(by='결측치 수', ascending=False).reset_index(drop=True)

# 출력
null_df

           컬럼명  결측치 수  결측치 비율 (%)
0       상장폐지일자  91808       99.98
1         상장일자  91329       99.46
2      총자산순이익률  26427       28.78
3       당기순이익율  23616       25.72
4       주소지시군구  13541       14.75
5      유형자산증가율   7351        8.01
6      유동자산증가율   6402        6.97
7      매입채무회전율   6401        6.97
8    EBITDA증가율   3978        4.33
9   영업이익이자보상배율    139        0.15
10      이자보상배율    139        0.15

- 총자산순이익률 = (당기순이익 / 자산총계) × 100
- 당기순이익률 = (당기순이익 / 매출액) × 100
- 영업이익이자보상배율 = 영업손익 / 이자비용
- 이자보상배율 = EBIT / 이자비용
- 매입채무회전율 = 매출원가 / 매입채무

In [3]:
mask = df2['총자산순이익률'].isnull() & df2['당기순이익'].notnull() & df2['자산총계'].notnull()
df2.loc[mask, '총자산순이익률'] = (
    df2.loc[mask, '당기순이익'] / df2.loc[mask, '자산총계']
) * 100

In [4]:
mask = df2['당기순이익율'].isnull() & df2['당기순이익'].notnull() & df2['매출액'].notnull()
df2.loc[mask, '당기순이익율'] = (
    df2.loc[mask, '당기순이익'] / df2.loc[mask, '매출액']
) * 100

In [5]:
# 영업이익이자보상배율 = 영업손익 / 이자비용
mask = df2['영업이익이자보상배율'].isnull() & df2['영업손익'].notnull() & df2['이자비용'].notnull()
df2.loc[mask, '영업이익이자보상배율'] = df2.loc[mask, '영업손익'] / df2.loc[mask, '이자비용']

# 이자보상배율 = EBIT / 이자비용
mask = df2['이자보상배율'].isnull() & df2['EBIT'].notnull() & df2['이자비용'].notnull()
df2.loc[mask, '이자보상배율'] = df2.loc[mask, 'EBIT'] / df2.loc[mask, '이자비용']

In [6]:
# 매입채무회전율 = 매출원가 / 매입채무
mask = df2['매입채무회전율'].isnull() & df2['매출원가'].notnull() & df2['매입채무'].notnull()
df2.loc[mask, '매입채무회전율'] = df2.loc[mask, '매출원가'] / df2.loc[mask, '매입채무']

In [7]:
# 결측치 비율 큰 컬럼 삭제
df2.drop(columns=['상장폐지일자', '상장일자'], inplace=True)

In [8]:
df2.head()

,기준년월,가명 식별자,외감구분,설립일자,종업원수,주소지시군구,유동자산,비유동자산,당좌자산,재고자산,...,기준년월 시점 관련인을 제외한 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 포함),기준년월 시점 공공정보 (한국신용정보원) 유지건수(해제 제외),기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수,기준년월 시점 공공정보 (한국신용정보원) 발생건수(해제 제외),기준년월 시점 공공정보 (한국신용정보원) 5년내 발생건수.1,기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 발생일자로 부터 경과일수(해제 포함),기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 해제일자로 부터 경과일수,10구간으로 구분(1~10. 1등급일수록 우량),"기준일로부터 향후 1년내 부도, 기업회생, 90일이상 금융연체, 대지급 등 발생여부(신용정보원 기준). 1: 향후1년내 부도발생, 0: 향후1년내 부도미발생",업종(대분류)
0,20210801,41294,1,20020830,63,11680.0,4406362501,2643245525,1684771733,2721590768,...,0,0,0,0,0,999999999,999999999,4,0,부동산업
1,20210801,100835,1,19850611,83,26170.0,1164149495,1211537593,178680349,985469146,...,0,0,0,0,0,999999999,999999999,5,0,부동산업
2,20210801,26963,1,20070115,10,11650.0,418344116,1414447178,144192213,274151903,...,0,0,0,0,0,999999999,999999999,2,0,부동산업
3,20210801,38271,1,19990201,14,26350.0,131137894,1409408057,92339646,38798248,...,0,0,0,0,0,999999999,999999999,3,0,부동산업
4,20210801,41314,1,19880812,47,28260.0,130254947,1164059426,116645300,13609647,...,0,0,0,0,0,999999999,999999999,4,0,부동산업

In [9]:
sido_map = {
    11: '서울', 26: '부산', 27: '대구', 28: '인천', 29: '광주', 30: '대전', 31: '울산',
    36: '세종', 41: '경기', 42: '강원', 43: '충북', 44: '충남', 45: '전북',
    46: '전남', 47: '경북', 48: '경남', 50: '제주'
}

# ① 주소지시군구가 null이 아닌 것만 사용
df2 = df2[df2['주소지시군구'].notnull()]

# ② 앞 2자리만 추출하고 숫자형으로 변환 (오류 발생 시 NaN 처리)
df2['시도코드'] = df2['주소지시군구'].astype(str).str[:2]
df2['시도코드'] = pd.to_numeric(df2['시도코드'], errors='coerce')  # <- 핵심!

# ③ 매핑 (숫자가 아니거나 범위 밖이면 NaN 됨)
df2['시도명'] = df2['시도코드'].map(sido_map)

# ④ 시도명 결측치 제거 (매핑 실패한 값들 제거)
df2 = df2[df2['시도명'].notnull()]

# ⑤ 정리
# df2.drop(columns=['주소지시군구', '시도코드'], inplace=True)

In [10]:
df2.reset_index(drop=True, inplace=True)

In [11]:
# 결측치 수 계산
null_counts = df2.isnull().sum()

# 결측치가 있는 컬럼만 필터링
null_counts = null_counts[null_counts > 0]

# 비율 계산 후 DataFrame으로 정리
null_df = pd.DataFrame({
    '컬럼명': null_counts.index,
    '결측치 수': null_counts.values,
    '결측치 비율 (%)': (null_counts.values / len(df2) * 100).round(2)
})

# 보기 좋게 정렬
null_df = null_df.sort_values(by='결측치 수', ascending=False).reset_index(drop=True)

# 출력
null_df

         컬럼명  결측치 수  결측치 비율 (%)
0    유형자산증가율   5974        7.79
1    유동자산증가율   5240        6.83
2  EBITDA증가율   3319        4.33
3    매입채무회전율   1498        1.95

결측치 비율이 낮기 때문에 결측치 삭제 - 모델을 돌리려면 결측값이 없어야함. 정확힌 수치가 중요하기 때문에 지우기

In [12]:
print("Before:", df2.shape)
df2.dropna(inplace=True)
print("After:", df2.shape)

Before: (76731, 160)
After: (70751, 160)

In [13]:
df_code = pd.read_csv('법정동코드 전체자료.txt', encoding='cp949', sep='\t')
df_code['법정동코드'] = df_code['법정동코드'].astype('str')
df_code

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
49854  5280042024    전북특별자치도 부안군 위도면 대리   존재
49855  5280042025   전북특별자치도 부안군 위도면 거륜리   존재
49856  5280042026   전북특별자치도 부안군 위도면 식도리   존재
49857  5280042027  전북특별자치도 부안군 위도면 상왕등리   존재
49858  5280042028  전북특별자치도 부안군 위도면 하왕등리   존재

[49859 rows x 3 columns]

In [14]:
# 1. 주소지시군구 전처리: 문자열 + 소수점 제거 + zero-padding
df2['주소지시군구'] = df2['주소지시군구'].astype(str).str.replace('.0', '', regex=False).str.zfill(5)

# 2. 시도코드, 시군구코드 분리
df2['시도코드'] = df2['주소지시군구'].str[:2]
df2['시군구코드'] = df2['주소지시군구'].str[2:]

# 3. 법정동코드 기준 시도/시군구 코드 분리
df_code['시도코드'] = df_code['법정동코드'].str[:2]
df_code['시군구코드'] = df_code['법정동코드'].str[2:5]

# 4. 법정동명에서 시군구명 추출 (두 번째 단어)
df_code['시군구명'] = df_code['법정동명'].str.split().str[1]

# 5. 시도+시군구코드 기준으로 중복 제거 (가장 대표적인 시군구명만)
df_sgg_map = df_code[['시도코드', '시군구코드', '시군구명']].drop_duplicates(subset=['시도코드', '시군구코드'])

# 6. 병합 (Left Join, 행 증가 방지)
df2 = df2.merge(df_sgg_map, on=['시도코드', '시군구코드'], how='left')

# 7. 세종시 예외 처리 (시군구가 없어서 NaN인 경우)
df2.loc[(df2['시도코드'] == '36') & (df2['시군구명'].isnull()), '시군구명'] = '없음'

In [15]:
# 1. 시도-시군구 조합 유니크하게 추출
check_df = df2[['시도명', '시군구명']].drop_duplicates()

# 2. 시도별 시군구명 개수 확인 (간단 시각 확인)
check_counts = check_df.groupby('시도명')['시군구명'].count().sort_values(ascending=False)
print(check_counts)

시도명
경기    31
서울    25
전남    20
경북    18
경남    16
부산    15
충남    14
전북    13
충북    10
인천     9
대구     8
광주     5
대전     5
울산     5
제주     2
세종     1
Name: 시군구명, dtype: int64

In [17]:
import pandas as pd

# 메모리 절약을 위해 필요한 열만 선택해서 불러오기
# 사용자가 정리 요청한 주요 컬럼만 우선 불러오기
usecols = [
    '기준년월', '가명 식별자', '시도명','시군구명', '업종(대분류)',
    '현금', '현금흐름', '영업활동현금흐름', '재무활동현금흐름',
    '유동자산', '비유동자산', '자산총계', '자산총계(전기)',
    '유동부채', '단기차입금', '부채총계', '자기자본(납입자본금)', '이익잉여금',
    'EBIT', 'EBITDA', '영업손익', '당기순이익', '이자비용',
    '부채비율', '유동비율', '이자보상배율', '차입금/EBITDA', 'EBITDA/금융비용',
    '매출액', '전기매출액', '영업이익증가율', '당기순이익증가율', 'EBITDA증가율',
    '매출액증가율', '총자산증가율', '유동자산증가율', '유형자산증가율',
    '자기자본이익률(ROE)', '총자산순이익률', '매출총이익율', '영업이익율', '당기순이익율',
    '기준년월 시점 대출연체 과목수',
    '기준년월 시점 3개월내 대출연체 유지 과목수(연체대출금 상환 포함)',
    '기준년월 시점 6개월내 대출연체 유지 과목수(연체대출금 상환 포함)',
    '기준년월 시점 1년내 대출연체 유지 과목수(연체대출금 상환 포함)',
    '기준년월 시점 3년내 대출연체 유지 과목수(연체대출금 상환 포함)',
    '기준년월 시점 연체일수가 30일 이상 된 대출연체 유지 과목수(연체대출금 상환 포함)',
    '기준년월 시점 공공정보 (한국신용정보원) 유지건수(해제 제외)',
    '기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 발생건수(해제 제외)',
    '기준년월 시점 신용도판단정보 및 공공정보 (한국신용정보원) 최근 해제일자로 부터 경과일수',
    '기준일로부터 향후 1년내 부도, 기업회생, 90일이상 금융연체, 대지급 등 발생여부(신용정보원 기준). 1: 향후1년내 부도발생, 0: 향후1년내 부도미발생'
]

In [18]:
df2.to_csv('결측치제거_165.csv', index=False, encoding='cp949')

df_all = pd.read_csv("결측치제거_165.csv", encoding="cp949")
print("전체:", df_all.shape)

df_reduced = pd.read_csv("결측치제거_165.csv", usecols=usecols, encoding="cp949")
print("선택된 열만:", df_reduced.shape)

df_reduced.to_csv('결측치제거_53.csv',index=False, encoding='cp949')

전체: (70751, 162)
선택된 열만: (70751, 52)